@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
/*レスポンシブ スマホ画面サイズ 599px以下の定義*/
/*(画面サイズによりpx数値を変える)*/
/* 要素に記載するコード */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  /*========= Loadingアニメーション ===============*/
  /* Loading背景画面設定　*/
  /* Loadingバー中央配置　*/
}

html #splash {
  /*fixedで全面に固定*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(182, 183, 184, 0.941);
  text-align: center;
  color: white;
}

html #splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

html body {
  margin: 0 auto;
  font-family: serif;
  letter-spacing: 1.5px;
  width: 100%;
  /* ヘッダー　*/
  /*---------- #menu ----------*/
  /* --- .menu-background （メニュー開くと暗くなる）--- */
  /* ---------- main ----------*/
  /* ---------- #profile ----------*/
  /* ---------- skillアイコン時間差フェードイン ----------*/
  /* ---------- #service ----------*/
  /* ---------- #works ----------*/
  /* ---------- contact ---------- */
  /* ---------- footer ---------- */
}

@media screen and (max-width: 599px) {
  html body {
    width: 100%;
  }
}

html body header {
  width: 100%;
  height: 96px;
  padding: 22.5px 0;
  background-color: rgba(198, 218, 255, 0.941);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
}

@media screen and (max-width: 599px) {
  html body header {
    height: 96px;
    padding: 0;
  }
}

html body header .header-contents {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 599px) {
  html body header .header-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: 96px;
  }
}

@media screen and (max-width: 599px) {
  html body header .header-contents #logo {
    max-width: 599px;
    height: 48px;
  }
}

html body header .header-contents #logo a {
  display: block;
  text-decoration: none;
  color: #000;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

html body header .header-contents #logo a:hover {
  letter-spacing: 4px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

html body header .header-contents #menu_btn {
  color: #fff;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: #858587;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

html body header .header-contents #menu_btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: black;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media screen and (max-width: 599px) {
  html body header .header-contents #menu_btn {
    width: 100%;
    border-radius: 0;
  }
}

html body #menu {
  width: 100%;
  max-width: 240px;
  height: 100%;
  background-color: rgba(198, 218, 255, 0.941);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  -webkit-transform: translate(250px);
          transform: translate(250px);
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-width: 599px) {
  html body #menu {
    width: 152px;
  }
}

html body #menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html body #menu ul li {
  font-weight: bold;
  border-bottom: 1px solid #fff;
}

html body #menu ul li:hover {
  background-color: #fff;
  border-color: #fff;
  color: black;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}

html body #menu ul li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #061562fa;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

html body #menu ul li a:hover {
  letter-spacing: 4px;
}

html body #menu.open {
  -webkit-transform: translate(0);
          transform: translate(0);
}

html body .menu-background {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

html body .menu-background.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}

html body main {
  width: 100%;
  height: 652px;
  background-image: url("top.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 96px;
  /* ---------- メイン画像を暗くする ----------*/
}

@media screen and (max-width: 599px) {
  html body main {
    height: 476px;
  }
}

html body main #mainback {
  position: absolute;
  width: 100%;
  height: 556px;
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 599px) {
  html body main #mainback {
    height: 380px;
  }
}

html body main #mainback .main-wrapper {
  position: relative;
  max-width: 960px;
  height: 320px;
  margin: 0 auto;
  padding: 192px 0;
}

@media screen and (max-width: 599px) {
  html body main #mainback .main-wrapper {
    height: 380px;
    padding: 94px 0 64px 0;
  }
}

html body main #mainback .main-wrapper h2 {
  vertical-align: middle;
  color: white;
  font-size: 40px;
  text-align: center;
}

@media screen and (max-width: 599px) {
  html body main #mainback .main-wrapper h2 {
    display: block;
  }
}

html body main #mainback .main-wrapper h2:first-child {
  text-align: left;
  padding-left: 152px;
}

@media screen and (max-width: 599px) {
  html body main #mainback .main-wrapper h2:first-child {
    text-align: center;
    padding-left: 0px;
  }
}

html body main #mainback .main-wrapper h2:last-child {
  text-align: right;
  padding-right: 152px;
}

@media screen and (max-width: 599px) {
  html body main #mainback .main-wrapper h2:last-child {
    text-align: center;
    padding-right: 0px;
  }
}

html body .load-fade {
  opacity: 0;
  -webkit-transition: all 2s;
  transition: all 2s;
}

html body .load-up {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 5s;
  transition: all 5s;
}

html body .load-up.done, html body .load-fade.done {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

html body #profile {
  text-align: center;
  padding: 40px 0;
}

html body #profile > h2 {
  max-width: 600px;
  border: solid 2px black;
  padding: 8px 0px;
  font-size: 32px;
  margin: 0 auto;
}

html body #profile #myintro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
  gap: 32px;
}

@media screen and (max-width: 599px) {
  html body #profile #myintro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

html body #profile #myintro > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@media screen and (max-width: 599px) {
  html body #profile #myintro > img {
    margin: 0 auto;
  }
}

html body #profile #myintro #myname {
  text-align: left;
  border-left: 10px solid #000;
  padding-left: 32px;
}

@media screen and (max-width: 599px) {
  html body #profile #myintro #myname {
    border-left: 0px;
  }
}

@media screen and (max-width: 599px) {
  html body #profile #myintro #myname h3 {
    text-align: center;
  }
}

html body #profile #myintro #myname h4 {
  margin-bottom: 32px;
}

@media screen and (max-width: 599px) {
  html body #profile #myintro #myname h4 {
    text-align: center;
  }
}

html body #profile #myintro #myname p {
  font-weight: bold;
  margin-bottom: 16px;
}

@media screen and (max-width: 599px) {
  html body #profile #myintro #myname p {
    text-align: center;
  }
}

html body #profile #myintro #myname #job {
  margin-bottom: 16px;
}

@media screen and (max-width: 599px) {
  html body #profile #myintro #myname #job {
    text-align: center;
  }
}

html body #profile #cv {
  margin: 40px 0;
}

html body #profile #cv h3 {
  font-size: 32px;
  margin-bottom: 16px;
}

html body #profile #cv ul {
  display: inline-block;
  text-align: left;
}

@media screen and (max-width: 599px) {
  html body #profile #cv ul {
    text-align: center;
  }
}

@media screen and (max-width: 599px) {
  html body #profile #cv ul li {
    list-style: none;
  }
}

html body #profile #skill h3 {
  font-size: 32px;
  margin-bottom: 16px;
}

html body #profile #skill #skillList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}

@media screen and (max-width: 599px) {
  html body #profile #skill #skillList {
    display: block;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
  }
}

html body #profile #skill #skillList li {
  list-style: none;
}

html body #profile #skill #skillList li img {
  width: 104px;
  height: 104px;
}

html body .sa {
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

html body .sa.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

html body .sa--up {
  -webkit-transform: translate(0, 104px);
          transform: translate(0, 104px);
}

html body #service {
  text-align: center;
  padding: 40px 0;
  /* ----------  #serviceList スマホ----------*/
}

html body #service > h2 {
  max-width: 600px;
  border: solid 2px black;
  padding: 8px 0px;
  font-size: 32px;
  margin: 0 auto;
}

html body #service #serviceList {
  padding: 40px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 104px;
}

@media screen and (max-width: 599px) {
  html body #service #serviceList {
    display: none;
  }
}

html body #service #serviceList .eachService h3 {
  font-size: 24px;
}

html body #service #serviceList .eachService h3 .fas {
  margin-right: 8px;
}

html body #service #serviceList .eachService img {
  width: 200px;
  height: 200px;
  border-radius: 32px;
  -webkit-box-shadow: 0 8px 8px #666666;
          box-shadow: 0 8px 8px #666666;
}

html body #service #serviceList .eachService p {
  margin: 16px 0;
  font-size: 32px;
  color: red;
  font-weight: bold;
}

html body #service #serviceList-sp {
  display: none;
}

@media screen and (max-width: 599px) {
  html body #service #serviceList-sp {
    display: block;
    padding: 40px 0;
    margin: 0 auto;
  }
}

html body #service #serviceList-sp .eachService-sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  gap: 24px;
}

html body #service #serviceList-sp .eachService-sp img {
  width: 100px;
  height: 100px;
  border-radius: 32px;
}

html body #service #serviceList-sp .eachService-sp h3 {
  font-size: 24px;
}

html body #service #serviceList-sp .eachService-sp h3 .fas {
  margin-right: 8px;
}

html body #service #serviceList-sp .eachService-sp p {
  margin: 16px 0;
  font-size: 24px;
  color: red;
  font-weight: bold;
}

html body #service #comment li {
  margin: 8px 0;
}

html body #service #comment li .bell {
  margin-right: 8px;
}

html body #works {
  text-align: center;
  padding: 40px 0;
  max-width: 960px;
  margin: 0 auto;
  /* ---------- #worksList スマホ---------- */
}

html body #works > h2 {
  max-width: 600px;
  border: solid 2px black;
  padding: 8px 0px;
  font-size: 32px;
  margin: 0 auto;
}

html body #works #worksList {
  padding: 40px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 104px;
}

@media screen and (max-width: 599px) {
  html body #works #worksList {
    display: none;
  }
}

html body #works #worksList .eachWorks h3 {
  font-size: 24px;
}

html body #works #worksList .eachWorks h3 .fas {
  margin-right: 8px;
}

html body #works #worksList .eachWorks p {
  margin: 16px 0;
  font-size: 16px;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #a7d6ff));
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

html body #works #worksList .eachWorks a {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

html body #works #worksList .eachWorks a:hover {
  opacity: 0.5;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

html body #works #worksList .eachWorks a img {
  width: 200px;
  height: 200px;
  border-radius: 32px;
  -webkit-box-shadow: 0 8px 8px #666666;
          box-shadow: 0 8px 8px #666666;
}

html body #works #worksList-sp {
  display: none;
}

@media screen and (max-width: 599px) {
  html body #works #worksList-sp {
    display: block;
    padding: 40px 0;
    margin: 0 auto;
  }
}

html body #works #worksList-sp #partido h4 {
  font-size: 20px;
}

html body #works #worksList-sp #partido h4 .fas {
  margin-right: 8px;
}

html body #works #worksList-sp #partido a .partidoImg {
  width: 300px;
  height: 150px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 8px;
}

html body #works #worksList-sp h4 {
  font-size: 20px;
  margin: 40px 0 24px 0;
}

html body #works #worksList-sp #copy {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

html body #works #worksList-sp #copy .eachWorks-sp p {
  margin: 8px 0;
  font-size: 16px;
  font-weight: bold;
}

html body #works #worksList-sp #copy .eachWorks-sp img {
  width: 104px;
  height: 104px;
  border-radius: 8px;
}

html body #form {
  text-align: center;
  padding: 40px 0;
  max-width: 960px;
  margin: 0 auto;
}

html body #form > h2 {
  max-width: 600px;
  border: solid 2px black;
  padding: 8px 0px;
  font-size: 32px;
  margin: 0 auto;
}

html body #form > p {
  margin: 16px 0;
}

html body #form .contact {
  display: block;
  width: 60%;
  margin: 0 auto;
  height: 64px;
  margin-bottom: 24px;
  border: solid 1px #757474;
  border-radius: 4px;
  line-height: 64px;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 599px) {
  html body #form .contact {
    width: 80%;
  }
}

html body #form .contact:focus {
  border-color: #a0c6ff;
  /* 枠線の色 */
  border-width: 3px;
  outline: none;
}

html body #form #btn {
  display: inline-block;
  width: 142px;
  height: 56px;
  text-align: center;
  text-decoration: none;
  line-height: 56px;
  outline: none;
  border-radius: 4px;
  margin-bottom: 16px;
}

@media screen and (max-width: 599px) {
  html body #form #btn {
    width: 80%;
  }
}

html body #form #btn::before,
html body #form #btn::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}

html body #form #btn,
html body #form #btn::before,
html body #form #btn::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

html body #form #btn {
  position: relative;
  z-index: 2;
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
  line-height: 56px;
}

html body #form #btn:hover {
  background-color: #fff;
  border-color: #333;
  color: #333;
  font-weight: bold;
}

html body #form #btn::before,
html body #form #btn::after {
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}

html body #form #btn::before {
  right: 0;
}

html body #form #btn::after {
  left: 0;
}

html body #form #btn:hover::before,
html body #form #btn:hover::after {
  width: 0;
  background-color: #333;
}

html body #form .time {
  font-weight: bold;
}

html body #form ul > li {
  list-style: none;
}

html body footer {
  text-align: center;
  padding: 40px 0;
  background-color: rgba(198, 218, 255, 0.941);
}

@media screen and (max-width: 599px) {
  html body footer {
    padding: 16px 0;
  }
}

html body footer .footer-wrapper > h3 {
  font-size: 24px;
  padding: 16px 0;
}

@media screen and (max-width: 599px) {
  html body footer .footer-wrapper > h3 {
    padding: 0;
  }
}

html body footer .footer-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  padding-bottom: 16px;
}

@media screen and (max-width: 599px) {
  html body footer .footer-wrapper ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 0px;
  }
}

@media screen and (max-width: 599px) {
  html body footer .footer-wrapper ul li {
    height: 56px;
    line-height: 56px;
    letter-spacing: 8px;
    border-bottom: solid 1px #757474;
  }
}

html body footer .footer-wrapper ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: relative;
  /*アンダーラインの位置決め */
  /*hoverアンダーラインアニメーション */
}

@media screen and (max-width: 599px) {
  html body footer .footer-wrapper ul li a {
    display: block;
  }
}

html body footer .footer-wrapper ul li a::after {
  position: absolute;
  /*親要素であるaタグを基準に位置を指定*/
  left: 0;
  /*アンダーラインを各メニュー（aタグ）の左端に指定*/
  content: '';
  /*テキスト無し*/
  width: 100%;
  /*アンダーラインを各aタグの幅に合わせる*/
  height: 2px;
  /*アンダーラインの高さ（太さ）*/
  background: #000000;
  /*アンダーラインの色*/
  bottom: 16px;
  /*アンダーラインが現れ始める位置（aタグの下辺からの高さ）*/
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 599px) {
  html body footer .footer-wrapper ul li a::after {
    display: none;
  }
}

html body footer .footer-wrapper ul li a:hover::after {
  visibility: visible;
  bottom: -8px;
  /*アニメーションが止まる位置*/
  opacity: 1;
}

@media screen and (max-width: 599px) {
  html body footer .footer-wrapper ul li a:active {
    background-color: #fff;
  }
}

html body footer .footer-wrapper p {
  font-size: 4px;
}
/*# sourceMappingURL=main.css.map */
